[submodule "submodules/mescal"]
	path = submodules/mescal
	url = https://github.com/helgeesch/mescal.git
[submodule "submodules/mescal-pypsa"]
	path = submodules/mescal-pypsa
	url = https://github.com/helgeesch/mescal-pypsa.git
[submodule "submodules/captain-arro"]
	path = submodules/captain-arro
	url = https://github.com/helgeesch/captain-arro.git
